html, body {
    padding: 0px;
    margin: 0px;
}
.about-us-text{
    font-family: 'Pacifico', cursive !important;
    color: red !important;
}
.card-image{
    height: 100%;
}

/* this is the styling for the cotact us page */
.map{
    background-image: url("../img/contact-header.jpg");
    background-size: cover;
    height: 500px;
}
.contact-itala{
    position: relative;
    margin-top: -100px;

}
.contact-itala-text{
    /* font-size: 120px !important; */
    font-weight: bolder !important;
}
.fab{
    font-size: 70px;
    text-align: center;
}

