/* Global stylings */
html{
    box-sizing: border-box;
    font-size: 62.5%
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a,a::after,
a::before, a:link{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #777;
    overflow-x: hidden;
    position: relative;
}
.navbar, .nav-link{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.navbar{
    transition: background-color 1s;
}
.dark {
    color: white !important;
    background-color: rgba(159, 243, 156, 0.568) !important;
    transition: background-color 1s;
    /*padding-top: 20px;*/
}

/* Index stylings */
/* .nav_btn-white{
    display: block;
    float: right !important;
} */
.welcome-sect{
    background-image:linear-gradient(
        to right bottom,
         hsl(120, 1%, 34%),
          rgba(132, 136, 136, 0.432) ), 
    url(../img/bg-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
}
/* .welcome-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-heading{
    color: #ffff;
    text-transform: uppercase;
}
.heading-primary{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 100px;
}
.heading-text{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4.5px;
} */



/* Nominee styling */
.nominee_welcome{
    height: 70vh;
}
.nominee_welcome-text{
    padding-top: 20vh;
    text-align: center;
}
.nominee_welcome-text-primary{
    display: block;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 5vh;
    padding-top: 5vh;
    /* letter-spacing: 100px; */
}
.nominee-welcome-text-sub{
    display: block;
    padding: 20vh;
    padding-bottom: 0;
    font-size: 17px;
    /* font-weight: 400; */
    letter-spacing: 4.5px;
}

.nominee_list-header-main,.nominee_list-header-sub{
    display: block;
    text-align: center;
}
.nominee_list-header-main{
    padding-top: 20vh;
    font-weight: 600;
}
.nominee_list-header-sub{
    padding-top: 2vh;
    padding-bottom: 20vh;
    color: gray;
    font-size: 16px;
}
.nominee_row{
    margin-bottom: 20vh !important;
}





/* .scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
}
  
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}
  
.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
}

.cube__face--front  { transform: rotateY(  0deg); }
.cube__face--right  { transform: rotateY( 90deg); }
.cube__face--back   { transform: rotateY(180deg); }
.cube__face--left   { transform: rotateY(-90deg); }
.cube__face--top    { transform: rotateX( 90deg); }
.cube__face--bottom { transform: rotateX(-90deg); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube { transform: translateZ(-100px); }

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube { transition: transform 1s; } */